:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header{
  text-align: center;
  width: 100%;
  height: 120px;
  color: #242424;
  background-color: #9b5f5f;
}

.content{
  display: block;
}

.main{
  text-align: center;
  width: 80%;
  float: right;
  height: 120px;
  color: #242424;
  background-color: #8f4141;
}

.galery{
  text-align: center;
  width: 80%;
  float: right;
  height: 120px;
  color: #242424;
  background-color: #7a2c2c;
}

.aside{
  text-align: center;
  width: 18%;
  height: 360px;
    color: #ffff;
  background-color: #732e2e;
}

.footer{
  text-align: center;
  width: 80%;
  float: right;
  height: 120px;
  color: #ffff;
  background-color: #310909;
}
